<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- Bootstrap and CSS -->
    {{include 'templates/blocos/links.html'}}
    {{block head}}{{end}}
  </head>
  <body>
      <!-- Cabeçalho -->
      {{include 'templates/blocos/nav.html'}}
	<!-- Corpo -->
    <main class="corpo">
		<div class="row">
			<!-- Menu lateral -->
			<aside class="" id="aside">
                {{include 'templates/blocos/aside.html'}}
			</aside>
			<!-- Conteúdo -->
			<section class="" id="section">
				{{ include }}
			</section>
		</div>
    </main>
    <!-- Rodapé -->
    <footer>
		<div class="row fixed-bottom rodape">
			<div class="col-md-12">
				<h3 class="rod-emp">&copy; 2019 - Under Tech & Applications</h3>
			</div>
		</div>
    </footer>
      <!-- Códigos javascript -->
      <!-- This includes jquery.js, calendar.js/.css, web2py.js and others -->
      {{include 'templates/blocos/javascripts.html'}}
  </body>
</html>
