<script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/dashboard.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/calendar.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/modulos/comodos.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/modulos/imagens.js')}}"></script>
